@page "{id:int?}"
@model WebApplication44.Pages.Tickets.CreateModel

@{
    ViewData["Title"] = "Reserve Seat";

}


<h2>Reserve Seat</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ticket.Username" class="control-label"></label>
                <input asp-for="Ticket.Username" class="form-control" />
                <span asp-validation-for="Ticket.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.FirstName" class="control-label"></label>
                <input asp-for="Ticket.FirstName" class="form-control" />
                <span asp-validation-for="Ticket.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.LastName" class="control-label"></label>
                <input asp-for="Ticket.LastName" class="form-control" />
                <span asp-validation-for="Ticket.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Dob" class="control-label"></label>
                <input asp-for="Ticket.Dob" class="form-control" />
                <span asp-validation-for="Ticket.Dob" class="text-danger"></span>
            </div>
            @*type="hidden"*@
            <div class="form-group">
                <label asp-for="Ticket.SeatId" class="control-label"></label>
                <select asp-for="Ticket.SeatId" class="form-control" asp-items="ViewBag.SeatId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Reserve Now</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
